<footer>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-6 col-lg-3">
        <picture>
          <source srcset="assets/common/logo-theme.webp" type="image/webp" />
          <source srcset="assets/common/logo-theme.png, assets/common/logo-theme@2x.png 2x" />
          <img src="assets/common/logo-theme.png" class="img-fluid" alt="logo">
        </picture>
      </div>
      <!-- <div class="col"></div> -->
      <div class="col-auto ml-auto pr-5">
        <!-- <a class="footer-link" href="#" data-i18n="footer-recruit">徵才訊息</a>
        <br />
        <a class="footer-link" href="#" data-i18n="footer-media">媒體</a>
        <br />
        <a class="footer-link" href="#" data-i18n="footer-support">支援</a>
        <br />
        <a class="footer-link" href="#" data-i18n="footer-contact">聯絡我們</a>
        <br /> -->
      </div>
      <div class="col-9 col-lg-auto social-links-container">
        <div class="row">
          <a href="https://www.youtube.com/channel/UCIQYYkJAaWYv301qNG17V3g" class="social-links col" target="_blank"
            rel="noopener noreferrer">
            <i class="fab fa-youtube"></i>
          </a>
          <a href="https://www.facebook.com/biilabsrocks" class="social-links col" target="_blank"
            rel="noopener noreferrer">
            <i class="fab fa-facebook-square"></i>
          </a>
          <a href="https://twitter.com/biilabs" class="social-links col" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://medium.com/biilabs" class="social-links col" target="_blank"
            rel="noopener noreferrer">
            <i class="fab fa-medium-m"></i>
          </a>
          <a href="https://www.linkedin.com/company/biilabs" class="social-links col" target="_blank"
            rel="noopener noreferrer">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
        <!-- <input placeholder="輸入email訂閱我們" class="subscribe-input form-control" /> -->
      </div>
    </div>

    <p class="copy-right">Copyright &copy; BiiLabs. All rights reserved.</p>
  </div>
</footer>
