<header id="nav-wrapper">
  <nav class="navbar navbar-dark navbar-expand-sm navbar-right">
    <a class="navbar-brand" href="index">
      <picture>
        <source srcset="assets/common/logo-white.webp" type="image/webp" />
        <source srcset="assets/common/logo-white.png, assets/common/logo-white@2x.png 2x" />
        <img src="assets/common/logo-white.png" alt="logo">
      </picture>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header" aria-controls="header"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="header">
      <ul class="nav navbar-nav ml-auto align-items-sm-center">
        <li class="">
          <a class="nav-link" href="/" data-i18n="nav-home">首頁</a>
        </li>
        <li class="">
          <a class="nav-link" href="about" data-i18n="nav-about">關於我們</a>
        </li>
        <li class="">
          <a class="nav-link" href="products" data-i18n="nav-products">產品</a>
        </li>
        <li class="">
          <a class="nav-link" href="cases" data-i18n="nav-cases">應用案例</a>
        </li>
        <li class="">
          <a class="nav-link" href="https://medium.com/biilabs" data-i18n="nav-tech" target="_blank"
            rel="noopener noreferrer">技術</a>
        </li>
        <li class="">
          <a class="nav-link" href="about#contact-form" data-i18n="nav-contact">聯絡我們</a>
        </li>
        <li class="">
          <div class="dropdown lang-selector-dropdown">
            <button class="lang-selector dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">中文</button>

            <ul class="dropdown-menu dropdown-menu-right">
              <li>
                <button data-locale="zh" class="switch-locale dropdown-item">中文</button>
              </li>
              <li>
                <button data-locale="en" class="switch-locale dropdown-item">English</button>
              </li>
              <li>
                <button data-locale="jp" class="switch-locale dropdown-item">日本語</button>
              </li>
            </ul>
          </div>
        </li>
      </ul>

    </div>
  </nav>

</header>