.image {
  max-width: 100%;
}

.section-catalog {
  padding: 8em 0;
  background: #f2f2f2;
}

.section-catalog-content {
  padding-top: 0;
  text-align: center;
}

@media (min-width: 768px) {
  .section-catalog-content {
    padding-top: 70px;
  }
}